/* color: #2980b9 */

/*****************/
/*SETUP
/*****************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    
    color: #555;
    text-rendering: optimizeLegibility;
}


a {
    color: #fff;
    text-decoration: none
}

.row {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    display: inline-block;
    width: 70%;
    text-align: center;
    margin: 30px 15%;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 140%
}

h2:after {
    content: " ";
    width: 200px;
    height: 3px;
    display: block;
    background-color: #9b59b6;
    margin: 10px auto;
}





/*****************/
/*PAGE
/*****************/

.main {
    background-color: #ffffff;
    
    margin: 0 auto;
    width: 800px;
}

background-img {
    
}


/*Header*/

.header-div{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(background.jpg);
    background-size: cover;
    background-position: center;
    height: 100px;
    
}

.header-div h1 {
    display: inline-block;
    float: right;
    padding: 30px 20px 0 0;
    margin:0;
    font-size: 200%;
    font-weight: 300;
    letter-spacing: 4px;
    color: #fff;
    text-transform: uppercase;      
}


/*Table*/

table {
    margin: 0;
}

td {
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    background-color: #9b59b6;
    color: #ffffff;
    padding: 1%;
    font-size: 80%;
    font-weight: 400;
    border: 1px solid #9b59b6;
    border-radius: 10px;
    transition: 0.2s
}

td:hover {background-color: #663b77;}

.links-div {
    background-color: rgba(238, 196, 255, 0.33);
    
}

.content-div {
    background-color: rgba(238, 196, 255, 0.33);
    height: 70%;
}

.content-div 

.avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #9b59b6
}

p {
    text-align: justify;
    font-weight: 400;
    float: left;
    padding-right: 50px;
    font-size: 90%;
    line-height: 145%;
    
}

.goals i {
    color: #9b59b6;
    padding-right: 20px;
    font-size: 180%;
    vertical-align: middle
}

.goals ul {
    list-style: none;
    width: 80%;
    margin-left: 15%;
    padding: 1%
    
        
}

.goals ul li {
    font-size: 150%;
    margin-bottom: 10px;      
}

footer {
    background-color:  #9b59b6;
    text-align: center;
    color: #fff;
    padding: 1%
}


